header{
    text-align: center;
    height: 10vh;
    font-size: 3.6rem;
    letter-spacing: 10px;
    font-weight: 900;
    padding-top: 5px;
}
img {
    /* width: 32%; */
    cursor: url('/images/picker.png') 0 31, auto;
}