.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.intro{
    margin: auto;
    font-size: 2.4rem;
    line-height: 2;
    color: grey;
}
.start{
    color: #191919;
}
.start:hover{
    color: #fff;
    background-color: #191919;
    cursor: pointer;
}
a, a:hover, a:active {
    color: inherit;
    font: inherit;
    text-decoration: none;
}